#f2{
    position: relative;
    top: -6rem;
    left: 0rem;
    animation: frag1 ease 4s 1.5s 1 normal forwards;
}
@keyframes frag1{
    100%{
        opacity: 100%;
    }
}
#f4{
    position: relative;
    top: -3rem;
    left: 3rem;
    animation: frag1 ease 4s 2.5s 1 normal forwards;
}
#f7{
    animation: frag1 ease 3.5s 3.5s 1 normal forwards;
}
#f8{
    position: relative;
    top: 4rem;
    left: 0rem;
    animation: frag1 ease 3s 3.7s 1 normal forwards;
}
#f10{
    position: relative;
    top: -10rem;
    left: 6rem;
    animation: frag1 ease 3s 4.3s 1 normal forwards;
}
#f6{
    position: relative;
    top: 5rem;
    left: 8.6rem;
    animation: frag1 ease 3s 4.5s 1 normal forwards;
}
#f1{
    position: relative;
    top: 10rem;
    left: 7rem;
    animation: frag1 ease 3s 4.7s 1 normal forwards;
}
#f9{
    position: relative;
    top: 5rem;
    left: -5rem;
    animation: frag1 ease 3s 5.1s 1 normal forwards;
}
#f3{
    position: relative;
    top: 0rem;
    left: 7rem;
    animation: frag1 ease 2.5s 5.3s 1 normal forwards;
}
#f5{
    position: relative;
    top: 10rem;
    left: -17rem;
    animation: frag1 ease 2.5s 5.5s 1 normal forwards;
}


#email{
    animation: icon ease 2.5s 0s 1;
    transition: .5s ease;
}
@keyframes icon{
    0%{
        transform: translateY(0px);
    }
    55%{
        transform: translateY(-100px);
    }
    65%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-40px);
    }
    90%{
        transform: translateY(-40px);
    }
    95%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}

#linkedin{
    animation: icon ease 2.5s .2s 1;
    transition: .5s ease;
}
#github{
    animation: icon ease 2.5s .4s 1;
    transition: .5s ease;
}
#question{
    animation: icon ease 2.5s .6s 1;
    transition: .5s ease;
}