@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat&display=swap');

:root {
    --main: rgb(134, 173, 255);
    --width: 600px;
    --minwidth: 550px;
    overflow-x: hidden;
}

html{
    font-size: 62.7%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0 0 3rem 0;
    transition: 1s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section{
    margin: 0 auto;
    padding: 40px 100px;
}

h1{
    font-size: 6rem;
    font-weight: 500;
}

h2{
    font-size: 3rem;
    font-family: Barlow;
    font-weight: 400;
}

h3{
    font-size: 2.2rem;
    font-weight: 200;
}

h4{
    font-size: 2.2rem;
    font-weight: 300;
}

h5{
    font-size: 1.8rem;
    font-weight: 200;
}

h6{
    font-size: 1.6rem;
    font-weight: 200;
}

div{
    font-size: 1.6rem;
}

.faded{
    color: rgb(148, 148, 148);
    cursor: pointer;
}

.home-flex-main{
    display: flex;
    padding: 0rem 0rem 10rem 0rem;
    justify-content: space-between;
    align-items: center;
    height: 73vh;
    margin: 0rem;
}

#circle-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 2;
    margin-left: 4rem;
    padding: 0rem 0rem 0rem 0rem;
    transform: rotate(0deg);
}

.circle{
    border: 30px solid black;
    border-radius: 50px;
    width: 8rem;
    height: 8rem;
    transition: 1s ease-out;
    font-size: 3rem;
    text-align: center;
    color: white;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover{
    width: 20rem;
    height: 20rem;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    transform: rotate(0deg);
    cursor: pointer;
    border-color: black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.719);
}

.circle-hover{
    border: 5px solid tomato;
    width: 20rem;
    height: 20rem;
    background-color: rgb(255, 255, 255);
    transform: rotate(0deg);
    border-radius: 50px;
    transition: 1s ease-out;
    text-align: center;
    font-size: 3rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.719);
}

.circle-hover:hover{
    cursor: pointer;
}

.contact{
    display: none;
    transition: 1s ease-out;
}

.c1{
    animation: cAnim1 ease 3s 0s 1;
}
@keyframes cAnim1{
    50%{
        width: 20rem;
        height: 20rem;
        border-width: 5px;
        background-color: rgb(255, 255, 255);
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(270deg);
    }
}

.c2{
    animation: cAnim2 ease 3s .5s 1;
}
@keyframes cAnim2{
    50%{
        width: 20rem;
        height: 20rem;
        border-width: 5px;
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(270deg);
    }
}

.c3{
    animation: cAnim3 ease 3s 1s 1;
    border-color: tomato;
}
@keyframes cAnim3{
    50%{
        width: 20rem;
        height: 20rem;
        border-width: 5px;
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(270deg);
    }
}

#home-text-container{
    flex: 1.3;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    margin-right: 4rem;
    animation: fadeSlideIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;
    left: 10rem;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        left: 40rem;
    }
    100% {
        opacity: 1;
        left: 2rem;
    }
}

.home-text{
    width: 70%;
    margin: 1rem 0rem;
    line-height: 4rem;
}

#up-arrow{
    position: relative;
    left: 95%;
    display: block;
    margin: 0;
    padding: 0;
    display: none;
}

#menu-side{
    position: fixed;
    top: 30%;
    left: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-transform: lowercase;
    height: 120px;
    transition: left 1s, opacity 1s;
    background-color: rgba(255, 255, 255, 0.712);
    z-index: 100;
    border-radius: 10px;
    padding: 15px 10px;
    height: 240px;
    opacity: 0%;
}

#cover{
    position: absolute;
    width: 100vw;
    height: 60vh;
    z-index: 10;
    background-color: paleturquoise;
    opacity: 0%;
}

.icon{
    font-size: 3.6rem; 
    transition: color 350ms ease;
}

.icon:hover{
    cursor: pointer;
    color: rgb(99, 99, 99);
}

#email{
    font-size: 6rem;
    margin: 1rem;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin: 0.9rem;
    padding: 0;
    transition: 3s ease;
    transform: scale(.0);
    animation: email ease 2s 0s 1 normal forwards;
}
@keyframes email{
    40%{
        transform: scale(.0);
    }
    60%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

#linkedin{
    font-size: 6rem;
    margin: 1rem;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    margin: 0.9rem;
    transition: 3s ease;
    transform: scale(0);
    animation: email ease 2s .2s 1 normal forwards;
}

#github{
    font-size: 6rem;
    margin: 1rem;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    margin: 0.9rem;
    transition: 3s ease;
    transform: scale(0);
    animation: email ease 2s .4s 1 normal forwards;
}

#question{
    font-size: 6rem;
    margin: 1rem;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    margin: 0.9rem;
    transition: 3s ease;
    transform: scale(0);
    animation: email ease 2s .6s 1 normal forwards;
}

#contact3{
    display: none;
    flex-wrap: wrap;
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
}

#con1{
    font-size: 6rem;
}
#con2{
    font-size: 6rem;
}
#con3{
    font-size: 6rem;
}
#con4{
    font-size: 6rem;
}

.section-title{
    padding: 0 15rem;
    font-size: 2.8rem;
    font-weight: 300;
    position: relative;
    transition: top 1s, opacity 2s;
}

#projects-title{
    top: 200px;
    opacity: 0%;
    transition: top 1s, opacity 2s;
}

#projects{
    padding: 120px 100px 100px 100px;
}

.project-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row-reverse;
    margin-left: 20%;
    margin-bottom: 0;
    position: relative;
    top: 100px;
    opacity: 0%;
    transition: top .75s, opacity .75s;
}

@media (max-width: 1250px){
    .project-container{
        margin-left: 25%;
    }
}
@media (max-width: 1150px){
    .project-container{
        margin-left: 30%;
    }
    .descrip{
        width: 260px;
    }
}
@media (max-width: 1000px){
    .project-container{
        flex-wrap: wrap-reverse;
    }
}

.title{
    font-size: 5rem;
    margin: 2rem 0rem;
}

.type{
    text-transform: uppercase;
    margin: 1.5rem 0rem;
    font-weight: 300;
    color:rgb(148, 148, 148);
}

.date{
    color:rgb(55, 118, 255);
    font-weight: 300;
    margin: 1rem 0rem;
}

.descrip{
    font-weight: 300;
}

.image{
    width: var(--width);
    height: calc(var(--width) * 2 / 3);
    box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.719);
    border-radius: 5px;
    transition: 1s ease;
    transform: translateX(-100px);
    background: 0px 0px/100% 100% no-repeat;
    margin-bottom: 5rem;
    z-index: 0;
    flex: none;
}

@media (max-width: 1100px) {
    .image{
        width: var(--minwidth);
        height: calc(var(--minwidth) * 2 / 3);
    }
    .image-over2{
        top: calc(var(--minwidth) * 2 / -3) !important;
    }
    .white-hover{
        top: calc(var(--minwidth) * 4 / -3) !important;
    }
}

.image-over{
    background: 0px 0px/100% 100% no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0%;
    transition: 1s ease;
    margin: 0;
    padding: 0;
    z-index: 50;
    position: relative;
    border-radius: 5px;
}

.image-over2{
    top: calc(var(--width) * 2 / -3);
}

.white-hover{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0%;
    transition: .8s ease;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 900;
    z-index: 100;
    position: relative;
    top: calc(var(--width) * 4 / -3);
}

.white-hover:hover{
    opacity: 50%;
    cursor: pointer;
}

.descrip-box{
    position: relative;
    left: -100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 0;
}

.dots{
    position: relative;
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: space-between;
    left: -60px;
}

.hex{
    position: relative;
    top: -10px;
    left: -5px;
    border: 1px solid rgb(3, 3, 3);
    background-color: rgba(255, 255, 255, 0.164);
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    z-index: 100 !important;
}

.dot{
    border: 1px solid black;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    transition: .5s ease;
}

.dot:hover{
    cursor: pointer;
}

.right-arrow{
    position: relative;
    left: 30px;
    font-size: 3rem;
    color: tomato;
    transition: 1s ease;
}

.right-arrow:hover{
    color: rgb(255, 160, 144);
}

.descrip-text{
    position: relative;
    width: 300px;
    left: 80px;
    line-height: 2.7rem;
}

#sleep{
    background-image: url(img/sleeppic1.png);
}

#sleep2{
    background-image: url(img/sleeppic2.png);
}

#sleep3{
    background-image: url(img/sleeppic3.png);
}

#sleep-dot1{
    border: none;
    background-color: orange;
}

#sleep-hex{
    transform: rotate(100deg);
}

#veracity{
    background-image: url(img/veracitypic1.png);
}

#veracity2{
    background-image: url(img/veracitypic2.png);
}

#veracity3{
    background-image: url(img/veracitypic3.png);
}

#veracity-dot1{
    border: none;
    background-color: rgb(106, 208, 255);
}

#veracity-hex{
    transform: rotate(10deg);
}

#snowball{
    background-image: url(img/snowballpic1.png);
}

#snowball2{
    background-image: url(img/snowballpic2.png);
}

#snowball3{
    background-image: url(img/snowballpic3.png);
}

#snowball-dot1{
    border: none;
    background-color: rgb(86, 40, 255);
}

#snowball-hex{
    transform: rotate(30deg);
}

#weather{
    background-image: url(img/weatherpic1.png);
}

#weather2{
    background-image: url(img/weatherpic2.png);
}

#weather3{
    background-image: url(img/weatherpic3.png);
}

#weather-dot1{
    border: none;
    background-color: rgb(0, 0, 0);
}

#weather-hex{
    transform: rotate(50deg);
}

#two{
    background-image: url(img/2048pic1.png);
}

#two2{
    background-image: url(img/2048pic2.png);
}

#two3{
    background-image: url(img/2048pic3.png);
}

#two-dot1{
    border: none;
    background-color: orange;
}

#two-hex{
    transform: rotate(70deg);
}

#tetris{
    background-image: url(img/tetrispic1.png);
}

#tetris2{
    background-image: url(img/tetrispic2.png);
}

#tetris3{
    background-image: url(img/tetrispic3.png);
}

#tetris-dot1{
    border: none;
    background-color: rgb(103, 219, 151);
}

#tetris-hex{
    transform: rotate(100deg);
}

#contactBtn2{
    font-size: 2.8rem;
    font-weight: 300;
    cursor: pointer;
    color: tomato;
}
#contactBtn2:hover{
    color: rgb(255, 154, 137);
}

#footer-container{
    position: relative;
    top: 0;
}

#footer{
    padding: 3rem 15rem 5rem 15rem;
}

.contact-bottom{
    font-size: 2rem;
    margin: 0 1.5rem 0 0;
    transition: 2s ease;
    position: relative;
    cursor: pointer;
}

#bottom-text{
    margin: 3rem 0;
    font-size: 1.4rem;
    color: rgb(78, 78, 78);
    transition: 3s ease;
}
.appear{
    animation: appear 1s ease 0s 1 forwards;
}
@keyframes appear {
    0%{
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
.disappear{
    animation: disappear 1s ease 0s 1 forwards;
}
@keyframes disappear {
    0%{
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

#svg-container{
    position: absolute;
    top: 3200px;
    left: 0vw;
}

#scribble{
    position: absolute; 
    top: 30px;
    left: 600px;
    background-color: ivory;
}