@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat&display=swap');

:root {
    --main: rgb(151, 243, 255);
}

html{
    font-size: 62.7%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.section{
    margin: 0 auto;
    padding: 40px 100px;
}

h1{
    font-size: 6rem;
    font-family: Montserrat;
}

h2{
    font-size: 5rem;
    font-family: Montserrat;
}

h3{
    font-size: 4rem;
    font-family: Montserrat;
}

h4{
    font-size: 3rem;
    font-family: Montserrat;
}

div{
    font-size: 1.6rem;
}

.home-flex-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    margin-bottom: 3rem;
}

#circle-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 2;
    padding-bottom: 10rem;
}

.circle{
    border: 30px solid black;
    border-radius: 50px;
    width: 8rem;
    height: 8rem;
    transition: 1s ease-out;
    font-size: 3rem;
    text-align: center;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover{
    width: 20rem;
    height: 20rem;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    transform: rotate(0deg);
    cursor: pointer;
    border-color: black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.719);
}

.circle-hover{
    border: 5px solid tomato;
    width: 20rem;
    height: 20rem;
    background-color: rgb(255, 255, 255);
    transform: rotate(0deg);
    border-radius: 50px;
    transition: 1s ease-out;
    text-align: center;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.719);
}

.circle-hover:hover{
    cursor: pointer;
}

.contact{
    display: none;
    transition: 1s ease-out;
}

.contact-show{
    display: block;
    transition: 1s ease-out;
}

.c1{
    animation: cAnim1 ease 3s 0s 1;
}
@keyframes cAnim1{
    50%{
        width: 20rem;
        height: 20rem;
        border-width: 5px;
        background-color: rgb(255, 255, 255);
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(270deg);
    }
}

.c2{
    animation: cAnim2 ease 3s .5s 1;
}
@keyframes cAnim2{
    50%{
        width: 20rem;
        height: 20rem;
        border-width: 5px;
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(270deg);
    }
}

.c3{
    animation: cAnim3 ease 3s 1s 1;
    border-color: tomato;
}
@keyframes cAnim3{
    50%{
        width: 20rem;
        height: 20rem;
        border-width: 5px;
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(270deg);
    }
}

#home-text-container{
    flex: 1.5;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    padding: 10rem 0rem 0rem 10rem;
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-text{
    margin: 3rem;
}

.up-arrow{
    font-size: 3.6rem; 
    color: black;
    position: fixed;
    top: 90%;
    left: 95%;
    transition: color 350ms ease;
}

.up-arrow:hover{
    cursor: pointer;
    color: rgb(110, 110, 110);
}