@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat&display=swap');

a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 1s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover,
a:focus{
    color: rgb(50, 146, 255);
}

a:active{
    color: rgb(38, 139, 255);
}

#name{
    font-size: 3.2rem;
    font-weight: 300;
    font-family: inconsolata;
}

.top-bar{
    margin: 0 0 10px 0;
    padding: 30px 100px 70px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    display: flex;
    flex-grow: 4;
    font-size: 3.2rem;
    font-weight: 600;
    font-family: Montserrat;
    justify-content: flex-start;
    align-items: center;
}

.canvas{
    margin-left: 15px;
}

.canvas:hover {
    cursor: pointer;
}

#menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
    position: sticky;
    top: 0;
    padding: 5px;
    text-transform: uppercase;
}