body{
    font-size: 90px;
    font-family: "Barlow", sans-serif;
}

#container1{
    padding: 5%;
}

i{
    font-size: 230% !important; 
}

#col2{
    text-align: center;
}

#temp{
    margin-bottom: 1%;
}

#temp:hover{
    cursor: pointer;
}

#deg{
    font-size: 140px;
    text-align: right;
}
#unit{
    font-size: 50px;
    text-align: left;
}

#info{
    font-size: 30px;
    text-align: center;
}

#loc{
    font-size: 80px;
}

@media (min-width: 768px) {
    body{
        overflow: hidden;
    }
    #container1{
        padding-top: 7%;
    }
    #info{
        padding-top: 10%;
    }
    i{
        font-size: 200px;
    }
}

@media (max-width: 370px){
    #loc{
        font-size: 55px;
    }
    #deg{
        font-size: 120px;
    }
}

#mode{
    position: absolute;
    top: 4vh;
    left: 20px;
    font-size: 20px;
    color: white;
    background-color: rgb(59, 59, 59);
}

#note{
    font-size: 40%;
    text-align: center;
    color: white;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
    margin: 2% 1%;
}